body {
    background-color: rgb(220, 220, 220);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    display: block;
    margin: 15px;
}

@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
    }
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 190, 190);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    height: 100%;
    padding: 12px 32px;
    background-color: rgb(200,200,200);
    color: black;
    text-decoration: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* min-width: 100px;
    text-align: center; */
}

.navbar li a.active {
    background-color: rgb(220,220,220);
}

.infoBox {
    display: block;
    width: fit-content;
    background-color: rgba(0,0,0,0.2);
    border-left: 4px solid black;
    padding: 4px 12px;
}
.infoBox:empty {
    display: none;
}
.infoBox.warning {
    background-color: rgba(255, 230, 30, 0.3);
    border-left: 4px solid rgb(255, 230, 30);
    color: rgb(90, 85, 25);
}
.infoBox.error {
    background-color: rgba(255, 30, 30, 0.3);
    border-left: 4px solid rgb(255, 30, 30);
    color: rgb(90, 25, 25);
}
.infoBox.success, .infoBox.good {
    background-color: rgba(55, 255, 30, 0.3);
    border-left: 4px solid rgb(55, 255, 30);
    color: rgb(30, 90, 25);
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: grey;
    border-top: 1px solid grey;
    padding-top: 10px;
    text-align: center;
}

/* Song comparisons */
.songComparison {
    display: grid;
    margin: auto;
    grid-template-areas: 
        'songA songA songB songB'
        'details details details details';
    grid-template-columns: auto auto auto auto;

    background-color: rgb(150,150,150);
    padding: 4px;
    border-radius: 4px;
    
    column-gap: 5px;
    row-gap: 5px;
}

.songComparison .song {
    background-color: rgb(200,200,200);
    padding: 4px 12px;
    border-radius: 5px;
}

.songComparison .song.first {
    display: block;
    position: relative;
    grid-area: songA;
}
.songComparison .song.second {
    display: block;
    position: relative;
    grid-area: songB;
}

.songComparison .details {
    background-color: rgb(200,200,200);
    padding: 4px 12px;
    border-radius: 5px;

    position: relative;
    grid-area: details;
}